.innerDiv {
  width: 90%;
  height: 75%;
  background-color: #EDE9C4;
  display: grid;
  place-items: center;
}

button {
  background-color: #649173;
  color: #EDE9C4;
  font-size: 24px;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  margin: 1rem;
}

.fileInput {
  display: none;
}

.fileLabel {
  display: inline-block;
  box-sizing: border-box;
  border: 7px dashed #649173;
  border-radius: 5px;
  cursor: pointer;
  padding: 3rem 4rem;
  color: #649173;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
  transition: ease 300ms;
}

.fileLabel strong {
  color: #EDE9C4;
  background: #649173;
  padding: 6px 10px;
  border-radius: 3px;
}

.uploadState {
  display: none;
}

.onDragOverClass {
  background-color: rgba(100, 145, 115, 0.3);
  padding: 4rem 5rem;
}
