.innerDiv {
  width: 90%;
  height: 75%;
  background-color: #EDE9C4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button {
  background-color: #649173;
  color: #EDE9C4;
  font-size: 24px;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  margin: 1rem;
  cursor: pointer;
  border: none;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fileInput {
  display: none;
}

.fileLabel {
  box-sizing: border-box;
  border: 7px dashed #649173;
  border-radius: 5px;
  cursor: pointer;
  padding: 3rem 4rem;
  color: #649173;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
  transition: ease 300ms;
}

.fileLabel strong {
  color: #EDE9C4;
  background: #649173;
  padding: 6px 10px;
  border-radius: 3px;
}

.uploadState {
  display: none;
}

.onDragOverClass {
  background-color: rgba(100, 145, 115, 0.3);
  padding: 4rem 5rem;
}

.downloadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.convertedGif {
  margin: 1rem;
  height: 139px;
}


progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8px;
  background-color: red;
}

progress::-webkit-progress-value {
  background-color: #649173;
}

progress::-webkit-progress-bar {
  background: #EDE9C4;
}

progress::-moz-progress-bar {
  background: #649173;
}

@media(max-width: 800px) {
  .innerDiv {
    flex-direction: column;
  }
}